#ifndef CONFIG_H
#define CONFIG_H

#define APRS_SOURCE "YOURCALL-1"

#define APRS_DESTINATION "APZTK1"

#define APRS_COMMENT "unterwegs mit T-Echo"

#define APRS_SYMBOL_TABLE '/'
#define APRS_SYMBOL_ICON  'b'

#endif // CONFIG_H
